<h1>商品登録フォーム</h1>
<%= form_with model: @item, local: true do |form| %>
  <p>
    商品名：<br>
    <%= form.text_field :name %>
  </p>
  <p>
    商品詳細：<br>
    <%= form.text_area :description %>
  </p>
  <p>
    価格：<br>
    <%= form.number_field :price %>
  </p>
  <p>
    出品者：<br>
    <%= form.text_field :seller %>
  </p>
  <p>
    電子メール：<br>
    <%= form.text_field :email %>
  </p>
  <p>
    商品画像ＵＲＬ：<br>
    <%= form.text_area :image_url %>
  </p>
  <%= form.submit "登録" %>
<% end %>